.control_container {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 0px;
}

.control_container_spacer {
	display: block;
	padding-top: 10px;
}

.axis_styling, .grid_styling, .graph_styling {
	display: none;
}

.control_container.last {
	border-bottom: none;
}

.title {
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 8px;
}

.title i {
	color: #8E8E93;
	margin-top: 4px;
	position: absolute;
	right: 0;
	font-size: 0.8em;
}

.control_subcontainer {
	margin-top: 12px;
}

.input_subtitle {
	margin-top: 4px;
	font-weight: 600;
}

.label {
	font-weight: 300;
}

.font_and_size {
	margin-top: 4px;
}

/* colorpicker stuff */

.labelcolor {
	margin-top: 3px;
}

.fillcolor, .strokecolor {
	display: relative;
}

.fillcolor {
	margin-top: 4px;
}

.fillcp, .strokecp {
	float: right;
	width: 70%;
}

.axiscp {
	float: right;
	width: 60%;
	margin-bottom: 4px;
}

.tickcp {
	margin-top: 3px;
}

.input-group input {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.input-group-addon {
	padding: 0 !important;
}
.input-group-addon i {
	width: 20px !important; 
	height: 19px !important;
}

/* Labels */
.xylabels {
	margin-top: 4px;
}

.xylabel {
	float: right;
	width: 73%;
}

