.control_container {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 8px;
	border-bottom: 1px solid #D9D9D9;
}

.control_container.last {
	border-bottom: none;
}

.title {
	font-weight: 700;
	margin-bottom: 8px;
}

.title i {
	color: #8E8E93;
	margin-top: 4px;
	position: absolute;
	right: 0;
	font-size: 0.8em;
}

.control_subcontainer {
	margin-top: 10px;
}

.input_subtitle {
	margin-top: 4px;
	font-weight: 600;
}

.label {
	font-weight: 300;
}

.font_and_size {
	margin-top: 4px;
}

/* colorpicker stuff */

.labelcolor {
	margin-top: 3px;
}

.fillcolor, .strokecolor {
	display: relative;
}

.fillcolor {
	margin-top: 3px;
}

.fillcp, .strokecp {
	float: right;
	width: 70%;
}

.input-group-addon {
	padding: 0 !important;
}
.input-group-addon i {
	width: 20px !important; 
	height: 19px !important;
}

