.ui-slider {
	width: 100%;
	margin: 5px 0px 0px 0px;
}

.ui-state-default:focus {
	outline: none;
}

.ui-corner-all {
	border-radius: 20px !important;
}

.ui-state-default:focus {
	outline: none;
}

.ui-slider-horizontal {
	height: 0.5em !important;
}

.ui-slider-handle {
	width: 0.9em !important;
  height: 0.9em !important;
  top: -0.25em !important;
}

.ui-widget-content {
	border: 1px solid #DEDEDE !important;
}

.slider_container {
	margin-bottom: -5px;
}

.slider_reading {
	font-size: 12px;
	float: right;
	margin-top: -25px;
}

.slider_container .min, .slider_b .min, .slider_c .min {
	color: #7B7B7B;
	font-size: 11px;
	font-weight: 300;
	margin-top: 3px;
	margin-left: 1px;
}

.slider_container .max, .slider_b .max, .slider_c .max {
	color: #7B7B7B;  
  font-size: 11px;
  font-weight: 300;
  margin-top: 4px;
  float: right;
}