*, html, body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	color: #333;
}

h3 {
	font-size: 16px !important;
}

textarea:focus, input:focus{
    outline: none;
}

textarea, input {
	border-style: solid;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	width: 100%;

	font-size: 12px !important;
	padding: 1px;
}

input[type=radio] {
	width: 17px;
}

.bold {
	font-weight: 700;
}

.semibold {
	font-weight: 600;
}

.light {
	font-weight: 300;
}

.small {
	font-size: 12px !important;
}

.vis_container {
	position: absolute;
	left: 205px;
	width: 600px;
	width: -webkit-calc(100% - 205px);
	width: -moz-calc(100% - 205px);
	width: calc(100% - 205px);
}

.vis_controls {
	/* position */
	position: static;
	left: 0;
	top: 0;
	width: 175px;

	/* content */
	padding: 15px;
	background-color: #F5F5F5;
	border-right: 1px solid #D9D9D9;
	font-size: 14px;
}