*, html, body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	color: #333;
	/* overflow: hidden; */ /* dynamically set via JS */
}

h3 {
	font-size: 16px !important;
}

textarea:focus, input:focus{
    outline: none !important;
}

textarea, input {
	border-style: solid;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	width: 100%;

	font-size: 12px !important;
	padding: 1px 2px;
}

input[type=radio] {
	width: 17px;
}

header {
	background-color: #4D9FC4;
	padding: 3px 2px 3px 35px;
	color: white;
	z-index: 2;
}

.tools {
	position: relative;
	float: right;
	font-weight: 600;
	font-size: 16px;
	display: none;
}

.tool {
	display: inline-block;
	margin-top: 5px;
	padding-top: 3px;
/*	padding: 2px 35px; */
	text-align: center;
	width: 200px;
	height: 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.tool .save {
	width: 150px;
}



.tool .theme_picker span, .save_button {
	opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.tool .theme_picker span:hover, .save_button:hover {
	opacity: 0.5;
	cursor: pointer;
}

.tool .theme_picker i {
	padding-right: 3px;
}

.bold {
	font-weight: 700;
}

.semibold {
	font-weight: 600;
}

.light {
	font-weight: 300;
}

.small {
	font-size: 12px !important;
}

.sitename {
	font-weight: 900;
	font-size: 30px;
  cursor: pointer;
}

.vis_container {
	position: relative;
	margin-left: 225px;
}

.vis_controls {
	/* position */
	position: fixed;
	left: 0;
	top: 48px;
	width: 210px;
	height: 100%;
	height: -webkit-calc(100% - 48px);
	height: -moz-calc(100% - 48px);
	height: calc(100% - 48px);
	overflow-y: scroll;

	/* content */
	padding: 15px 22px 15px 20px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
	font-size: 14px;
}

.vis_controls_blanket {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 225px;
	height: 100%;
	background-color: rgba(105, 105, 105, 0.95);
	z-index: 10000;
	color: white;
}

.warning {
	position: absolute;
	top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -25px;
    height: 50px;
}

/* uploaded image things */
.image_upload_container {
	padding: 4px 5px 4px 4px;
	margin-bottom: 37px;
}

.image_drag_and_drop_zone {
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 200px;*/
	width: 100%;
	height: 150px;
	border: 1px dashed #bbb;
	transition: background-color 0.2s ease-in;
}

.image_upload_container input {
	margin-top: 4px;
}

.image_drag_and_drop_zone.drag_in_progress {
	background-color: #ececec;
}

.drag_and_drop_label {
	color: #bbb;
	pointer-events: none;
}

.uploaded_image_preview {
	max-width: 100%;
  max-height: 300px;
}

.image_picker_preview_container img {
	display: block;
	margin: 5px auto;
}

.image_dominant_color {
	width: 100px;
	height: 100px;
	margin: 10px auto;
	display: block;
}

.extractor_color_toggles {
	margin: 10px 0;
}

.image_color_palette_container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

.image_color_palette_color {
	display: inline-block;
	height: 50px;
	-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  width: 20%;            /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
}

.image_color_palette_color div {
	display: none;
  margin: auto;
  width: 15.5px;
  margin-top: 11px;
  font-size: 18px;
  color: white;
}

.image_color_palette_color div.selected {
	display: block !important;
  margin: auto;
  width: 15.5px;
  margin-top: 11px;
  font-size: 18px;
  color: white;
}

.x_axis .tick line, .y_axis .tick line {
	stroke: #333;
}

/* tooltip style */

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:3px;
  border-radius: 3px;
  border: 2px solid #DDD;
  background: #fff;
  opacity: 1 !important;
  color: #000;
  padding: 10px;
  width: 200px;
  font-size: 15px;
  z-index: 120;
  pointer-events: none;
}

.tooltip p.main {
  font-size: 15px;
  text-align: center;
  padding:0;
  margin:0;
}

hr.tooltip-hr {
  padding:3px 0 0 0;
  margin:3px 0 3px 0;
}

.tooltip .title {
  font-size: 20px;
  line-height: 24px;
}

.tooltip .name {
  font-weight:bold;
}

/* Edit data container style*/
#edit_data_container {
	position: absolute;
	display: none;
	background-color: rgba(226, 226, 226, 0.8);
	padding: 10px;
}

/* Home page styling */
#select_chart_container {
	width: 100%;
	height: 100%;
}

#chart_super_container {
	display: none;
  	height: 100%;
}

.part_one_chart_type_selected {
	border: 5px solid green !important;
}

.home_page_header {
	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 20px;
	font-size: 1.5em;
}

.grey_container {
	display: flex;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F5F5F5;
	width: 100%;
}

.chart_type_container {
	background-color: #4D9FC4;
	border-radius: 10px;
	border: 5px solid #4D9FC4;
	width: auto;
	margin-right: 20px;
	cursor: pointer;
	opacity: 0.8;
	position: relative;
}

.chart_type_container .fa-check-circle {
	display: none;
	color: green;
	position: absolute;
	top: -15px;
    right: -10px;
	z-index: 100;
}

.chart_type_image_container {
	width: 240px;
	height: 200px;
	margin: 10px;
	background-image: url("../img/dirk_bar.jpg");
	background-size: cover;
	color: white;
	opacity: 0.8;
	display: inline-block;
}

.chart_type_container:hover {
	opacity: 1;
}

.chart_type_container_selected {
	border: 2px solid green;
	opacity: 1;
}

.chart_type_header {
	text-align: center;
	color: white;
	font-size: 1.1em;
	padding-bottom: 10px;
}

.spacer {
	padding: 20px;
}

.drop_an_image {
	text-align: center;
	font-size: 1.3em;
	padding: 40px;
	border: 1px dotted #333;
	border-radius: 10px;
	margin-bottom: 20px;
}

.chart_example_container {
	padding-left: 50px;
	display: flex;
	width: 70%;
	border-left: 1px solid #333;
	position: relative;
}

.or {
	position: absolute;
	left: -10px;
	top: 50%;
	height: 20px;
	margin-top: -10px;
	background-color: #F5F5F5;
}

.upload_image_to_extract {
	margin-right: 50px;
}

.chart_example_image_container {
	width: 180px;
	height: 150px;
	margin: 10px;
	background-image: url("../img/dirk_line.jpg");
	background-size: cover;
	color: white;
	opacity: 0.8;
	display: inline-block;
}

/* Choose a file styling */
.box {
	text-align: center;
}

label {
	border-radius: 5px;
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0px auto;
    padding: 0.625rem 1.25rem;
}

label i {
	margin-right: 10px;
}

label {
    color: #f1e5e6;
    background-color: #4D9FC4;
}

label:hover {
    background-color: #2A5E8A;
}